<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-container-items">
            <ul class="header-items">
                <li cd class="header-button"><button type="button">ARMÁ TU VIAJE AHORA</button></li>
                <li class="divisor"></li>
                <li><a>HOME</a></li>
                <li class="divisor"></li>
                <li><a></a>QUIÉNES SOMOS</a></li>
                <li class="divisor"></li>
                <li><a></a>DESTINOS</a></li>
                <li class="divisor"></li>
                <li><a></a>TÉRMINOS Y CONDICIONES</a></li>
                <li class="divisor"></li>
                <li><a></a>CONTACTO</a></li>
                <li>
                    <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank"><i
                            class="fab fa-facebook-f" style="font-size:20px;color:black"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i
                            class="fab fa-instagram" style="font-size:20px; color: black"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main-backgroundimage">
            <p>RESERVA TU VUELO</p>
            <div class="main-div-formulario">
            <form class="main-formulario">
                <div class="main-radiobutton">
                    <input type="radio" id="opcion1" name="opcion" value="opcion1">
                    <label for="opcion1">Ida y vuelta</label><br>

                    <input type="radio" id="opcion2" name="opcion" value="opcion2">
                    <label for="opcion2">Solo ida</label><br>

                    <input type="radio" id="opcion3" name="opcion" value="opcion3">
                    <label for="opcion3">Multidestino</label><br>
                </div>
                <div>
                    <label for="origen">Origen</label>
                    <input type="text" id="origen" name="origen">

                    <label for="destino">Destino</label>
                    <input type="text" id="destino" name="destino">

                    <label for="fechaPartida">Partida</label>
                    <input type="date" id="fechaPartida" name="fechaPartida">

                    <label for="fechallegada">Llegada</label>
                    <input type="date" id="fechallegada" name="fechallegada">

                    <input type="submit" value="BUSCAR">
                </div>
            </form>
        </div>

        </div>
        <div>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
        </div>
        <div>
            <h2>LAS MEJORES PLAYAS DE BRASIL</h2>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
            <section>
                <img src="">
            </section>
        </div>
    </main>
    <footer>
        <div>
            <H2>CONTACTANOS</H2>
            <div>
                <p>Direccion</p>
            </div>
            <div>
                <p>Horario</p>
            </div>
            <div>
                <p>Telefono</p>
            </div>
            <div>
                <p>Whatsapp</p>
            </div>
            <div>
                <p>E-mail</p>
            </div>
        </div>
    </footer>
</body>

</html>